

* {
    font-family: Helvetica, sans-serif;
}

*:hover {
    cursor: crosshair;
}

body {
    margin: 0;
    height: auto;
    
    background-image: url('/assets/img/bg.png');
    background-size: cover;
    padding-bottom: 15px;
}

.container{
    width: 50%;
    height: auto;
    background-color: #fff;
    margin-top: 5px; 
    margin-bottom: 3px; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 10px;
}


nav {
   
    padding-right: 30px;
    padding-left: 50px;
}
nav ul {
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
}
nav ul li a {
    
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);;
}
nav ul li {
    list-style-type: none;
}
nav a:active {
    background-color: #592A2E;
    color: #fff; 
    padding: 16px 20px;
}

h1 {
    margin-top: 100px;
    margin-bottom: 40px;    
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    font-weight:500;
}

header span {
    color:#592A2E ;
    font-weight: bolder;
}

.main-image {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;    
}
.main-image img {
   
        width: 100%; 
        height: 100%; 
}
#presentation {
    display: flex;
    flex-wrap: wrap;
    
    
}
.presentation-view
{
    width: 30%;
    height: auto;
    margin: 11px;
    background-color: #736A62;
    display: flex;
    flex-direction: column;
    position: relative;
    
    
    
}

h2 {
    background-color: #592A2E;
    text-align: center;
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.presentation-view p {
    color: #fff;
    padding: 3px 5px;
}
.img123
{
    width: 100%;
    object-fit: cover;
}
.presentation-view::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width:   50px 50px 0 0; /* Ajustez les valeurs pour définir la taille du triangle */
    border-color: transparent #592A2E ;
   
    
    
  }
  .corner-link {
    
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    font-size: 20px;
    text-decoration: none;
    color: #fff;

}
.presentation2 {
    width: 30%;
    height: auto;
    margin: 10px;
    
}
.presentation2 ul {
    margin: 0;
    padding:0; 
    list-style-type: none;
}
.presentation2 ul li {
    margin-bottom: 10px;
}
.presentation2 li::before {
    content: ">";
    margin-right: 0.5em; 
    color: #592A2E;
    font-weight: bold;

}
.presentation2 h3 {
    color: rgba(0, 0, 0, 0.4);;
}

.Lorem {
    color: #592A2E;
    font-weight: bold;
    
}
.presentation2 p{
    margin-bottom: 30px;
}
.presentation2 a{
    background-color: #534E48;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    
}
.footer {
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 40px;
    border-top: #6E655E solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}
.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin-left: 15px;
}
.socialmedia {
    width: 100px;
    height: 40px;   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
     }
.socialmedia img {
        width: 80%;
        height: 70%;
        
    }


